.App {
  text-align: center;
  background-image: url('../src//assets//images/img.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-none {
  display: none;
}